{% extends "padre.html" %}

{% load static &}

{% block cambios %}


<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">Tobias Benjamin Lazaro</h1>
            <p>Bienvenido/a a mi perfil profesional</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Enviame un email a lazarotobiasbenjamin@gmail.com</p></div>
        <div class="card-body"><p class="text-white m-0">Contactame por Linkedin: https://www.linkedin.com/in/tobias-benjamin-lazaro/</p></div>
    </div>
    


{% endblock %}