{% extends "padre.html" %}

{% load static &}

{% block cambios %}


<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-10 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">Tobias Benjamin Lazaro</h1>
            
            <p>
                Tengo más de cuatro años de experiencia profesional, siendo la parte más significativa de mi carrera en Comprandoengrupo.net. 
                En mis roles como Asistente de Cuentas por Cobrar y Analista Administrativo de Informes, desarrollé habilidades sólidas de análisis 
                y resolución de problemas. En estas posiciones, fui responsable de tareas como conciliaciones, facturación,  
                generación de informes para la toma de decisiones, creación de informes para la gerencia, entre otras.</p></div></p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Selecciona 'Home' para volver atras</p></div>
    </div>
    


{% endblock %}