{% extends "padre.html" %}

{% load static &}

{% block cambios %}


<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">Bienvenido</h1>
            <p>Registrate para que nos contactemos. Deja tu email y si estas de acuerdo tu puesto laboral y algun comentario. Gracias!</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <form method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            {{ formulario.errors }}
        <input type="submit" value="Enviar">

    </form>
    </div>
    


{% endblock %}